*{
/* Reset everything to 0 */

  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #fff;
}

header {
  width: 100%;
  height: 80px;
  background-color: #e0e0e0;
}

.LFG-logo {
  margin-top: 16px;
  margin-left: 20px;
}

.User-welcome{
  font-size: 20px;
  /*<!--font-weight: 700; changes to bolden text*/
  margin-top: 30px;
  margin-right:100px;
  float: right;
}

.User-pic{
  float: right;
  margin-right: -200px;
  margin-top: 13px;
}

.platform {

  font-weight: 100;
  margin-left: 110;
  margin-top: 110;
  font-size: 35;
  font-family: 'Amercian Typewriter';
}

.Overwatch {
  margin-top: 50px;
  margin-left: 20px;

}
.OWlogo{
  margin-top: 50px;
  margin-left: 20px;
}

.sign{

font-family: 'Apple Chancery';
margin-left: 150px;
font-size: 16;
}

.plat_options{
  font-family: 'Avenir';
  font-weight: bolder;
  margin-left: 275px;
  margin-top: -25px;
}
